{% extends 'master/auth' %}

{% block content %} 
<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                {{ form.open({action: 'Auth/AuthCtrl.login'}) }}
                    <h1>Login Form</h1>
                    {{ csrfField }}
                    <div>                
                        {{ form.text('username','', {class: 'form-control', placeholder: 'Username'}) }}
                    </div>
                    <div>                
                        {{ form.password('password','', {class: 'form-control', placeholder: 'Password'}) }}
                    </div>
                    <div>
                        {{ form.submit('Log in','', {class: 'btn btn-default submit'}) }}
                        <a class="reset_pass" href="/resetPassword">Lost your password?</a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="separator">
                    <p class="change_link">New to site?
                        <a href="/register" class="to_register"> Create Account </a>
                    </p>
                    <div class="clearfix"></div>
                    <div>
                {{ form.close() }}            
            </section>
        </div>
    </div>
</div>
{% endblock %}
