{% extends 'master/auth' %}

{% block content %} 
    {{ form.open({action: 'Auth/AuthCtrl.register'}) }}
        <h1>Register</h1>
        {{ csrfField }}
        <div>
            {{ form.text('username','', {class: 'form-control', placeholder: 'Username'}) }}
        </div>
        <div>
            {{ form.email('email','', {class: 'form-control', placeholder: 'Email Address'}) }}
        </div>
        <div>
            {{ form.password('password','', {class: 'form-control', placeholder: 'Password'}) }}
        </div>        
        <div>
            {{ form.submit('Submit','', {class: 'btn btn-default submit'}) }}
            {{ form.resetButton('Clear','', {class: 'btn btn-default submit'}) }}
        </div>
        <div class="clearfix"></div>
        <div class="separator">
            <p class="change_link">Already a member ?
                <a href="/login" class="to_register"> Log in </a>
            </p>
        <div>
    {{ form.close() }}
{% endblock %}
