{% extends 'master/auth' %}

{% block content %}
    {{ form.open({action: 'Auth/AuthCtrl.register'}) }}
        <h1>Reset Password</h1>
        {{ csrfField }}
        <div>
            {{ form.email('email','', {class: 'form-control', placeholder: 'Email Address'}) }}
        </div>
        <div>
            {{ form.submit('Reset Password','', {class: 'btn btn-default submit'}) }}
            {{ form.resetButton('Clear','', {class: 'btn btn-default submit'}) }}
        </div>
        <div class="clearfix"></div>
        <div class="separator">
            <p class="change_link">
                <a href="/login" class="to_register"> Go Back </a>
            </p>
        <div>
    {{ form.close() }}
{% endblock %}
