{% extends 'master/auth' %}

{% block content %} 
<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                {{ form.open({action: 'Auth/AuthCtrl.register'}) }}
                    <h1>Reset Password</h1>
                    {{ csrfField }}

                    <div>
                        {{ form.email('email','', {class: 'form-control', placeholder: 'Email Address'}) }}
                    </div>
                    
                    <div>
                        {{ form.submit('Reset Password','', {class: 'btn btn-default submit'}) }}
                        {{ form.resetButton('Clear','', {class: 'btn btn-default submit'}) }}
                    </div>

                    <div class="clearfix"></div>
                    <div class="separator">
                        <p class="change_link">
                            <a href="/login" class="to_register"> Go Back </a>
                        </p>

                        <div class="clearfix"></div>
                        <br />
                    <div>

                {{ form.close() }}            
            </section>
        </div>
    </div>
</div>
{% endblock %}
